html,
body {
  height: 100%;
  box-sizing: border-box;
  background: url("/images/post.jpeg") no-repeat center fixed;
  background-size: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px 30px 0;
}

input,
textarea {
  width: 100%;
}

textarea {
  resize: none;
  height: 100px;
}

.create-form {
  margin-top: 50px;
}

.content {
  flex: 1 0 auto;
}

main {
  padding-top: 56px;
  margin-bottom: 100px;
}

.footer {
  height: 100px;
  flex: 0 0 auto;
}

.container {
  background-color: white;
}

header {
  height: 56px;
}

.col-lg-4 {
  position: relative;
  padding-bottom: 50px;
  padding-top: 15px;
}

.post_wide {
  width: 100%;
}

.post_text {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.col-lg-4 a.btn-secondary,
.delete,
.edit {
  position: absolute;
  left: 15px;
  bottom: 15px;
  margin-top: auto;
}

.delete {
  left: 150px;
}

.edit {
  left: 250px;
}

h2 {
  margin-top: 20px;
}

.send-message {
  display: none;
}

.send-message.active {
  display: block;
  height: 30px;
  width: 100%;
  background-color: green;
  color: white;
}

.control {
  margin-bottom: 20px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

